<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Importando o Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>

</head>
<body>
    <div class="container">
        <h1 class="center-align"><%= title %></h1>
        <div class="row">
            <form class="col s12" id="clientForm" action="<%= action %>" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" name="name" value="<%= client ? client.name : '' %>" required>
                        <label for="name">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="credits" type="text" class="validate" name="credits" value="<%= client ? client.credits : '' %>" required>
                        <label for="credits">Creditos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit">Salvar</button>
                        <a class="btn waves-effect waves-light red" href="/clients">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Adicione este script ao seu arquivo HTML -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Importando o Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascripts/validation.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit(); // Inicializando componentes do Materialize

            // Aplicando máscara de preço no formulário
            $('#credits').inputmask('currency', {
                prefix: 'R$ ',
                groupSeparator: '.',
                decimalSeparator: ',',
                allowMinus: false,
                rightAlign: false,
                autoGroup: true,
                digits: 2,
                digitsOptional: false,
                placeholder: '0'
            });
        });
    </script>
</body>
</html>
