<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Importando o Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>

</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">SuperMarket Plus</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/products">Produtos</a></li>
                <li><a href="/clients">Clientes</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <h1 class="center-align"><%= title %></h1>
        <a class="btn waves-effect waves-light" href="/products/new">Adicionar Produto</a>
        <br><br>
        <input id="input-busca" type="text" class="form-control mt-3 mb-3" placeholder="O que você procura?">
        <br><br>
        <table class="striped highlight responsive-table">
            <thead>
                <tr>
                    <th class="center-align">Nome</th>
                    <th class="center-align">Preço</th>
                    <th class="center-align">Quantidade</th>
                    <th class="center-align">Ações</th>
                </tr>
            </thead>
            <tbody id="tabela-produtos">
                <% products.forEach(product => { %>
                    <tr>
                        <td class="center-align"><%= product.name %></td>
                        <td class="center-align"><%= product.price %></td>
                        <td class="center-align"><%= product.stock %></td>
                        <td class="center-align">
                            <a class="btn-small blue waves-effect waves-light" href="/products/edit/<%= product.id %>">Editar</a>
                            <a class="btn-small red waves-effect waves-light" href="javascript:void(0);" onclick="deleteProduct('<%= product.id %>')">Deletar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <!-- Adicione este script ao seu arquivo HTML -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Importando o Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        function deleteProduct(id) {
            fetch(`/products/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Erro ao deletar o produto');
                }
            });
        }

        // Inicializando componentes do Materialize
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
        const INPUT_BUSCA = document.getElementById('input-busca');
const TABELA_PRODUTOS = document.getElementById('tabela-produtos');

INPUT_BUSCA.addEventListener('keyup', () => {
    let expressao = INPUT_BUSCA.value.toLowerCase();

    if (expressao.length === 1) {
        return;
    }

    let linhas = TABELA_PRODUTOS.getElementsByTagName('tr');

    for (let posicao in linhas) {
        if (true === isNaN(posicao)) {
            continue;
        }

        let conteudoDaLinha = linhas[posicao].innerHTML.toLowerCase();

        if (true === conteudoDaLinha.includes(expressao)) {
            linhas[posicao].style.display = '';
        } else {
            linhas[posicao].style.display = 'none';
        }
    }
});


document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit(); // Inicializando componentes do Materialize

            // Aplicando máscara de preço na tabela
            const precosNaTabela = document.querySelectorAll('#tabela-produtos td:nth-child(3)');
            precosNaTabela.forEach(preco => {
                let valorFormatado = preco.textContent.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                preco.textContent = valorFormatado.replace('.', ','); // Remover 'R$ ' daqui
            });

            // Aplicando máscara de preço ao digitar no campo do formulário
            $('#price').inputmask('currency', {
                prefix: 'R$ ',
                groupSeparator: '.',
                decimalSeparator: ',',
                allowMinus: false,
                rightAlign: false,
                autoGroup: true,
                digits: 2,
                digitsOptional: false,
                placeholder: '0'
            });
        });
    </script>
</body>
</html>
